.app_bar_title {
	position: relative;
	background: #fff8f8;
	width: 100%;
	margin: 0;
	padding-top: 56px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #ffe3e3;
	.wrap {
		display: flex;
		flex-direction: row;
		width: 1553px;
		justify-content: space-between;
		.start {
			.title {
				color: #ff7070;
				font-size: 4em;
				font-weight: 500;
				line-height: 94px;
				.bold {
					position: relative;
					z-index: 500;
					font-weight: 700;
				}
				.underline {
					position: absolute;
					width: 616px;
					height: 24px;
					background: #ffe3e3;
					top: 210px;
					z-index: 4;
				}
			}
			.subtitle {
				margin-top: 47px;
				font-size: 22px;
				color: #553a3a;
				font-weight: 400;
			}
		}
		.end {
			svg {
				position: relative;
			}
		}
	}
}
.announce_bar {
	background: #fff2f2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 72px;
	.wrap {
		width: 1553px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		.announce_component {
			display: flex;
			flex-direction: row;
			width: auto;
			justify-content: space-between;
			align-items: center;
			color: #ff7070;
			font-size: 22px;
			font-weight: 600;
			margin-right: 24px;
			svg {
				margin-right: 12px;
			}
		}
		.announce_title {
			color: #553a3a;
			font-size: 22px;
		}
	}
}
.body_wrap {
	width: 1553px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}
@media only screen and (max-width: 1024px) {
	.start {
		font-size: 10px;
	}
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
